################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SparkUp.Business/bin/Debug/net8.0
/SparkUp.Business/obj
/SparkUp.MVC/appsettings.json
SparkUp.MVC/bin/Debug/net8.0/appsettings.json
